<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
   <title>Top Menu MNU001</title>
<link rel="stylesheet" th:href="@{/css/test.css}" />

       <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body>
  <div th:include="navbar"></div>
		 <div class="main_contents">
    <div id="sub_content">
      <form class="row g-3 mt-3 ms-2" action="/StudentRegistrationSpring/studentSearch" method="POST">
      <h3 style="color: red"></h3>
        <div class="col-auto">
          <label for="staticEmail2" class="visually-hidden">studentID</label>
          <input type="text"  class="form-control1" id="staticEmail2" placeholder="Student ID" name="id">
        </div>
        <div class="col-auto">
          <label for="inputPassword2" class="visually-hidden">studentName</label>
          <input type="text" class="form-control1" id="inputPassword2" placeholder="Student Name" name="name">
        </div>
        <div class="col-auto">
            <label for="inputPassword2" class="visually-hidden">Course</label>
            <input type="text" class="form-control1" id="inputPassword2" placeholder="Course" name="attend">
          </div>
        <div class="col-auto">
          <button type="submit" class="btn btn-success mb-3" >Search</button>
        </div>
        
        <div class="col-auto">
          <button type="reset" class="btn btn-secondary mb-3">Reset</button>
        </div>
      </form>
<div>

      <table class="table table-striped" id="stduentTable">
        <thead>
          
          <tr>
            <th scope="col">Student ID</th>
            <th scope="col">Student Name</th>
               <th scope="col">Edit Time</th>
                <th scope="col">Update or Delete?</th>
            <th scope="col">Course Name</th>
            <th scope="col">Course Fees</th>
             <th scope="col">Photo</th>
         
          </tr>
          
        </thead>
					<tbody>

						<tr th:each="student : ${students}">
							<td th:text="'STU' + ${student.id}"></td>
							<td th:text="${student.student.name}"></td>
							<td th:text="${student.updateTime}"></td>
							<td th:text="${student.details}"></td>
							<td><span th:each="course : ${student.student.studentCourse}">
									<span th:text="${course.course.courseName}"></span> <br></span>
							</td>
							<td><span th:each="course : ${student.student.studentCourse}">
									<span th:text="${course.course.fees}"></span> <br></span><br>
							</td>
							<td><img th:src="@{'/image/' + ${student.student.studentPhoto.photo}}" alt="..."
								style="width: 70px; height: 70px; border-radius: 45%;">
							</td>
							<td>
							<a th:href="@{/studentHistory/studentHistoryDelete/{id}(id=${student.id})}" class="btn btn-secondary mb-2">Delete</a>
							</td>
						</tr>

					</tbody>
				</table>
      
    </div>
</div>
</div>
	<div th:include="footer"></div>